.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  }

  body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-color: #60b5ed;
    background-size: cover;
    font-family: arial, tahoma, sans-serif;
  }

  .wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: column;
  }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  }

.header {
  background-image: url(../img/menu.png);
  color: white;
  display: flex;
  height: 36px;
  width: inherit;
  flex-direction: row-reverse;
  justify-content: flex-start;
  }

    .header ul {
     display: flex;
      border-right: 1px solid #60b5ed;
    }

    .top_menu_left a {
    display: block;
    text-decoration: none;
    color: #60b5ed;
    padding: 10px;
    }

  .top_menu_left li {

  }

  .top_menu_left a:hover {
  display: block;
  background-color: #60b5ed;
  color: white;
  }

  .top_menu_right ul {
  display: flex;
  }

 .top_menu_right li:hover {
   background: rgba(80,176,220,1);
   background: -moz-linear-gradient(top, rgba(80,176,220,1) 0%, rgba(80,176,220,1) 1%, rgba(46,121,196,1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,176,220,1)), color-stop(1%, rgba(80,176,220,1)), color-stop(100%, rgba(46,121,196,1)));
   background: -webkit-linear-gradient(top, rgba(80,176,220,1) 0%, rgba(80,176,220,1) 1%, rgba(46,121,196,1) 100%);
   background: -o-linear-gradient(top, rgba(80,176,220,1) 0%, rgba(80,176,220,1) 1%, rgba(46,121,196,1) 100%);
   background: -ms-linear-gradient(top, rgba(80,176,220,1) 0%, rgba(80,176,220,1) 1%, rgba(46,121,196,1) 100%);
   background: linear-gradient(to bottom, rgba(80,176,220,1) 0%, rgba(80,176,220,1) 1%, rgba(46,121,196,1) 100%);
   border: 1px solid #4299d2;
   display: block;
   width: 195px;
   height: 34px;
   align-items: center;
   }

    .top_menu_right a {
      color: white;
      }

      .top_menu_right li p {
      width: 195px;
      padding-top: 10px;
    }

  .top_menu_right li {
    border: 1px solid transparent;
  }

  .flag {
  float: left;
  content: ' ';
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 5px;
  margin-top: 5px;
  }

  .center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    }

   .register_header {
     font-size: 24px;
     color: white;
     height: 62px;
     width: 560px;
     background-color: rgba(57, 57, 57, 0.7);
     margin-bottom: 3px;
     text-align: center;
     flex-grow: 1;
     }

    .register_header h1 {
      padding: 20px;
      }

      .separator {
        font-size: 14px;
        color: #999;
      }

      .separator::before,
      .separator::after {
        display: inline-block;
        width: 123px;
        height: 1px;
        content: "";
        vertical-align: middle;
        box-shadow: 0px -1px 0px 0px rgba(102, 102, 102, 1), inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
      }

      .separator::before {
        margin-right: 6px;
      }

      .separator::after {
        margin-left: 6px;
      }

    .registration_form {
      width: 560px;
      background-color: rgba(57, 57, 57, 0.7);
      align-content: center;
      color: white;
      text-align: center;
      }

    .registration_form a {
      /*background-image: url(../img/button.png);*/
      display: block;
      height: 35px;
      width: 276px;
      margin: 36px 140px;
      background: rgba(117,153,230,1);
      background: -moz-linear-gradient(top, rgba(117,153,230,1) 0%, rgba(44,71,143,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,153,230,1)), color-stop(100%, rgba(44,71,143,1)));
      background: -webkit-linear-gradient(top, rgba(117,153,230,1) 0%, rgba(44,71,143,1) 100%);
      background: -o-linear-gradient(top, rgba(117,153,230,1) 0%, rgba(44,71,143,1) 100%);
      background: -ms-linear-gradient(top, rgba(117,153,230,1) 0%, rgba(44,71,143,1) 100%);
      background: linear-gradient(to bottom, rgba(117,153,230,1) 0%, rgba(44,71,143,1) 100%);
      border-radius: 8px 8px 8px 8px;
      -moz-border-radius: 8px 8px 8px 8px;
      -webkit-border-radius: 8px 8px 8px 8px;
      border: 0px solid #fff;
      color: white;
      font-size: 18px;
      text-decoration: none;
      padding-top: 10px;
      }

      .before::before {
            border-right: 2px solid #1f3d73;
        }

    .registration_form span {
      font-weight: 900;
    }

  .registration_form li {
    display: inline-block;
    padding: 8px;
    }

      fieldset {
    /*border: 1 solid #666;*/
    border-left: none;
    border-bottom: none;
    border-right: none;
        }

  legend {
    text-align: center;
    }

  input {
    background-color: black;
    margin: 15px;
    padding: 10px;
    width: 275px;
    border: 0;
    color: white;
  }

  input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 15px;
    }

    button {
      background-image: url(../img/account.png);
      background-color: inherit;
      height: 37px;
      width: 151px;
      border: none;
      color: white;
    }

    .p {
      font-size: 10px;
      padding-top: 10px;
      width: 300px;
      margin: 0 auto;
    }

    input:focus,
    input:hover    {
      background-color: #1b5288;
      -webkit-box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
      -moz-box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
      box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
    }
