.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  }

  body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-color: #60b5ed;
    background-size: 100%;
  }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
  }

.header {
  background-image: url(../img/menu.png);
  color: white;
  display: flex;
  height: 36px;
  width: inherit;
  flex-direction: row-reverse;
  justify-content: flex-start;
  }

    .header ul {
    display: flex;
    }

    .menu1 a {
    display: block;
    text-decoration: none;
    color: #60b5ed;
    padding: 10px;
    }

  .menu1:last-child {
    border-right: 1px solid #60b5ed;
  }

  .menu1 a:hover {
  display: block;
  background-color: #60b5ed;
  color: white;
  }

  .menu2 ul {
  display: flex;
  }

 li.active {
  background-image: url(../img/ola.png);
  display: block;
  width: 191px;
  height: 36px;
  }

.menu2 a {

  color: #60b5ed;
  }

      .menu2 li p {
      /*padding-top: 10px;*/
      width: 191px;
    }

  .flag {
  float: left;
  content: ' ';
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  height: 36px;
  width: 30px;
  margin-top: 5px;
  }

  .center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    }

   .container1 {
     font-size: 24px;
     color: white;
     height: 62px;
     width: 560px;
     background-color: rgba(87, 87, 87, 0.6);
     margin-bottom: 3px;
     text-align: center;
     flex-grow: 1;
     }

    .container1 h1 {
      padding: 20px;
      }

    .container2 {
      width: 560px;
      background-color: rgba(87, 87, 87, 0.6);
      align-content: center;
      color: white;
      text-align: center;
      }

    .container2 a {
      background-image: url(../img/button.png);
      display: block;
      height: 35px;
      width: 276px;
      margin: 36px 140px;

      }
  .container2 li {
    display: inline-block;
    }

  fieldset {
    border-left: none;
    border-bottom: none;
    border-right: none;
        }

  legend {
    text-align: center;
    }

  input {
    background-color: black;
    margin: 15px;
    padding: 10px;
    width: 275px;
    border: 0;
  }

  input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 15px;
    }

    button {
      background-image: url(../img/account.png);
      background-color: inherit;
      height: 37px;
      width: 151px;
      border: none;
      color: white;
    }

    .p {
      font-size: 10px;
      padding-top: 10px;
    }

    input:focus,
    input:hover    {
      background-color: #1b5288;
      -webkit-box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
      -moz-box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
      box-shadow: 0px 0px 10px 5px rgba(123,179,232,1);
    }
